<!--
  -    Copyright [2020] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->

<template>
  <v-row>
    <v-col v-if="applicationStore.session.user.permissions.includes('ADMIN')">
      <v-card>
        <v-card-title class="red--text"> Mehrere Gruppen Löschen </v-card-title>
        <v-card-text>
          <v-alert type="success" v-if="success">
            Gruppe(n) wurde(n) erfolgreich gelöscht.
          </v-alert>

          <v-form ref="form" v-if="!success">
            <v-alert type="warning" v-if="error">
              Bitte folgende Fehler beheben:
              <ul>
                <li v-for="e in error" :key="e">
                  {{ e }}
                </li>
              </ul>
            </v-alert>

            <v-autocomplete
              v-model="deletegroups.groups"
              :items="this.items"
              item-text="name"
              item-value="id"
              label="Zu löschende Gruppen"
              multiple
              chips
              prepend-icon="mdi-account-group"
              :disabled="loading || sending || !!groupDetails"
            ></v-autocomplete>

            <v-data-table v-if="groupDetails" :headers="headers" :items="groupDetails">
            </v-data-table>

            <v-checkbox
              v-model="deletegroups.verified"
              :rules="[(v) => !!v || 'Die Zustimmung ist erforderlich']"
              :disabled="sending || !groupDetails"
              required
            >
              <template v-slot:label>
                Ja, alle ausgewählten Gruppen und alle zu diesen Gruppen hinterlegten Daten sollen
                gelöscht werden.
              </template>
            </v-checkbox>

            <v-text-field
              label="Passwort"
              name="password"
              type="password"
              prepend-icon="mdi-lock"
              v-model="deletegroups.password"
              :disabled="sending"
            />
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="orange darken-2"
            class="pa-4 white--text"
            tile
            @click="reset"
            v-if="success"
          >
            Weitere Gruppen löschen
          </v-btn>
          <v-btn
            color="orange darken-2"
            class="pa-4 white--text"
            tile
            @click="reset"
            v-if="!success && groupDetails"
          >
            Formular zurücksetzen
          </v-btn>
          <v-spacer />
          <v-btn
            color="orange darken-2"
            class="pa-4 white--text"
            tile
            @click="doDeleteGroups"
            :loading="sending"
            :disabled="sending"
            v-if="!success && groupDetails"
            >Endgültig Löschen
          </v-btn>
          <v-btn
            color="orange darken-2"
            class="pa-4 white--text"
            tile
            @click="doGetGroupDetails"
            :loading="sending"
            :disabled="sending"
            v-if="!success && !groupDetails"
            >Gruppen Identifizieren
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import Api from '../../LegacyApi';
import * as util from "../../util";
import { useApplicationStore } from '../../stores/application';

export default {
  mounted() {
    this.initGroups();
  },
  data: () => {
    return {
      loading: true,
      sending: false,
      success: false,
      error: null,
      groups: [],
      items: [],
      deletegroups: {
        groups: [],
        verified: false,
        password: '',
      },
      headers: [
        {
          text: 'Name',
          value: 'name',
        },
        {
          text: 'Beschreibung',
          value: 'description',
        },
        {
          text: 'Untergruppen',
          value: 'ldapGroups',
        },
        {
          text: 'OpenProject Gruppen',
          value: 'opGroups',
        },
        {
          text: 'OpenProject Project',
          value: 'opProject',
        },
        {
          text: 'Nextcloud',
          value: 'nextcloud',
        },
      ],
      groupDetails: null,
      applicationStore: useApplicationStore(),
      util,
    };
  },
  methods: {
    initGroups: function () {
      Api.defaultHandler(this, Api.getAllGroups()).then((result) => {
        this.groups = result;
        this.items = Array.from(this.groups.values());
        this.loading = false;
      });
    },
    reset: function () {
      this.error = null;
      this.deletegroups.groups = [];
      this.deletegroups.verified = false;
      this.deletegroups.password = '';
      this.sending = false;
      this.success = false;
      this.groupDetails = null;
    },
    summarizeGroupDetails: function (groupDetails) {
      return {
        name: groupDetails.groups[0].name,
        description: groupDetails.groups[0].description,
        ldapGroups: groupDetails.groups.map((group) => group.name).join(', '),
        opGroups: groupDetails.openProject
          ? groupDetails.openProject.groups.map((group) => group.name).join(', ')
          : null,
        opProject:
          groupDetails.openProject && groupDetails.openProject.project
            ? groupDetails.openProject.project.name
            : null,
        nextcloud: groupDetails.nextcloud ? groupDetails.nextcloud.rootPath : null,
      };
    },
    doGetGroupDetails: function () {
      if (this.deletegroups.groups && this.deletegroups.groups.length > 0) {
        this.$emit('clearError');
        this.sending = true;

        fetch(util.CONFIG.API_BASE_URL + '/v1/bindings/multiservice/groups/get', {
          method: 'POST',
          credentials: 'include',
          body: JSON.stringify({ groups: this.deletegroups.groups }),
        })
          .then((response) => {
            if (response.status === 200) {
              this.sending = false;
              response.json().then((data) => {
                this.groupDetails = data.map((groupDetails) =>
                  this.summarizeGroupDetails(groupDetails)
                );
                this.deletegroups.groups = data.map((groupDetails) => groupDetails.groups[0].id);
              });
            } else if (response.status === 401) {
              this.$router.push('/logout');
            } else if (response.status === 400) {
              this.sending = false;
              response
                .json()
                .then((data) => {
                  console.log(data);
                  this.error = data;
                })
                .catch((error) => {
                  console.log(error);
                  this.$emit('unexpectedError');
                });
            } else {
              this.sending = false;
              this.$emit('unexpectedError');
            }
          })
          .catch((error) => {
            console.log(error);
            this.sending = false;
            this.$emit('networkError');
          });
      }
    },
    doDeleteGroups: function () {
      if (this.$refs.form.validate()) {
        this.$emit('clearError');
        this.sending = true;

        fetch(util.CONFIG.API_BASE_URL + '/v1/bindings/multiservice/groups/delete', {
          method: 'POST',
          credentials: 'include',
          body: JSON.stringify(this.deletegroups),
        })
          .then((response) => {
            if (response.status === 201) {
              this.success = true;
              // reload list of groups
              this.initGroups();
            } else if (response.status === 401) {
              // unauthorized, ask to login  again
              this.$router.push('/logout');
            } else if (response.status === 403) {
              // forbidden, no permissions or wrong password
              this.sending = false;
              this.error = ['Keine Berechtigung oder falsches Passwort'];
            } else if (response.status === 400) {
              this.sending = false;
              response
                .json()
                .then((data) => {
                  this.error = data;
                })
                .catch((error) => {
                  console.log(error);
                  this.$emit('unexpectedError');
                });
            } else {
              this.sending = false;
              this.$emit('unexpectedError');
            }
          })
          .catch((error) => {
            console.log(error);
            this.sending = false;
            this.$emit('networkError');
          });
      }
    },
  },
  beforeUnmount() {
    this.$emit('clearError');
  },
};
</script>

<style scoped></style>
