<script setup lang="ts">
import * as api from '../api';

import { onBeforeUnmount, onMounted, reactive, watch, computed } from 'vue';
import { BackgroundJob } from '../entities';

type BackgroundJobStatusState = {
  job: BackgroundJob;
  timer: NodeJS.Timeout | undefined;
  result: BackgroundJob | api.job.ErrorResult | undefined;
};

const properties = defineProps<{
  jobId: string;
}>();

const emit = defineEmits(['job_completed']);

const state = reactive<BackgroundJobStatusState>({
  result: undefined,
  timer: undefined,
  job: {
    id: properties.jobId,
    created: new Date().toString(),
    status: 'Der Hintergrund-Job wurde gestartet',
  },
});

function processJobStatus(status?: BackgroundJob) {
  if (status == undefined) {
    state.result = { error: 'not_found' };
    emit('job_completed', state.result);
    return;
  }

  state.job = status;

  if (status.completed) {
    if (status.exception) {
      state.result = { error: 'backend' };
      state.job.status = `Fehler (Prozess): ${status.exception} (siehe Feather Logs).`;
      emit('job_completed', state.result);
    } else {
      state.job.status = 'Der Hintergrund-Job wurde beendet.';
      state.result = status;
      emit('job_completed', state.result);
    }
  } else {
    state.timer = setTimeout(updateJobStatus, 5000);
  }
}

const runningSince = computed(() => {
  const seconds = Math.floor((Date.now() - Date.parse(state.job.created)) / 1000);
  const time = seconds >= 60 ? `${Math.floor(seconds / 60)} Minute(n)` : `${seconds} Sekunde(n)`;

  return `Der Hintergrund-Job läuft seit ${time}`;
});

function updateJobStatus() {
  const getJob = api.job.getJob(properties.jobId);
  getJob.then((job) => processJobStatus(job));
  api.allCatching([getJob]).then((result) => {
    if (!result) {
      state.result = {
        error: 'fetch',
      };
    }
  });
}

function clearUpdate() {
  if (state.timer) {
    clearTimeout(state.timer);
    state.timer = undefined;
  }
}

onMounted(() => {
  updateJobStatus();
});

onBeforeUnmount(() => {
  clearUpdate();
});

watch(properties, (oldProps, newProps) => {
  if (oldProps.jobId == newProps.jobId) return;

  clearUpdate();
  updateJobStatus();
});
</script>

<template>
  <v-container>
    <v-banner
      :icon="api.job.isErrorResult(state.result) ? 'mdi-exclamation' : 'mdi-timer-sand'"
      :single-line="false"
      >{{ runningSince }}: {{ state.job.status }}
    </v-banner>
    <v-progress-linear :indeterminate="!state.result" color="orange darken-2"></v-progress-linear>
  </v-container>
</template>
