<!--
  -    Copyright [2020] Feather development team, see AUTHORS.md
  -
  -    Licensed under the Apache License, Version 2.0 (the "License");
  -    you may not use this file except in compliance with the License.
  -    You may obtain a copy of the License at
  -
  -        http://www.apache.org/licenses/LICENSE-2.0
  -
  -    Unless required by applicable law or agreed to in writing, software
  -    distributed under the License is distributed on an "AS IS" BASIS,
  -    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  -    See the License for the specific language governing permissions and
  -    limitations under the License.
  -->

<template>
  <v-row>
    <v-col v-if="applicationStore.session.user.permissions.includes('ADMIN')">
      <v-card>
        <v-card-title class="red--text"> Alle CiviRules erstellen oder löschen </v-card-title>
        <v-card-text>
          <v-alert type="success" v-if="checkSuccess">
            Die Vorbedingungen zum Anlegen der CiviRules sind erfüllt.
          </v-alert>

          <v-alert type="success" v-if="createSuccess"> CiviRules wurden angelegt. </v-alert>

          <v-alert type="success" v-if="deleteSuccess"> CiviRules wurden gelöscht. </v-alert>

          <background-job-status
            v-if="!checkSuccess && !createSuccess && !deleteSuccess && crmJobId"
            :jobId="crmJobId"
            @job_completed="processJobCompleted"
          >
          </background-job-status>

          <v-form ref="form">
            <v-alert type="warning" v-if="error">
              Bitte folgende Fehler beheben:
              <ul>
                <li v-for="e in error" :key="e">
                  {{ e }}
                </li>
              </ul>
            </v-alert>

            <v-checkbox
              v-model="verified"
              :rules="[(v) => !!v || 'Die Zustimmung ist erforderlich']"
              :disabled="sendingCheck || sendingCreate || sendingDelete"
              required
            >
              <template v-slot:label> Ja, ich weiß was ich tue. </template>
            </v-checkbox>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-btn
            color="orange darken-2"
            class="pa-4 white--text"
            tile
            @click="doCheckCrmPrecondition"
            :disabled="sendingCheck || sendingCreate || sendingDelete"
            v-if="!checkSuccess"
            >Voraussetzung für die globale Erzeugung von CiviRules prüfen
          </v-btn>
          <v-spacer />
          <v-btn
            color="orange darken-2"
            class="pa-4 white--text"
            tile
            @click="doCreateCrm"
            :disabled="sendingCheck || sendingCreate || sendingDelete"
            v-if="createCrmPossible && !createSuccess"
            >Alle CiviRules anlegen
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import * as api from '../../api';
import * as util from "../../util";
import Api from '../../LegacyApi';
import { useApplicationStore } from '../../stores/application';

export default {
  data: () => {
    return {
      loading: true,
      verified: false,
      sendingCheck: false,
      sendingCreate: false,
      sendingDelete: false,
      checkSuccess: false,
      createSuccess: false,
      deleteSuccess: false,
      error: null,
      crmJobId: null,
      createCrmPossible: false,
      applicationStore: useApplicationStore(),
      util,
    };
  },
  methods: {
    reset: function () {
      this.error = null;
      this.verified = false;
      this.sendingCheck = false;
      this.sendingCreate = false;
      this.sendingDelete = false;
      this.createSuccess = false;
      this.deleteSuccess = false;
      this.checkSuccess = false;
      this.crmJobId = false;
      this.createCrmPossible = false;
    },
    doCheckCrmPrecondition: function () {
      this.$emit('clearError');
      this.sendingCheck = true;
      this.checkSuccess = false;

      fetch(util.CONFIG.API_BASE_URL + '/v1/bindings/iog/chapter/crm-update-rules', {
        method: 'POST',
        credentials: 'include',
        body: JSON.stringify(false),
      })
        .then((response) => {
          if (response.status === 201) {
            response.json().then((data) => {
              this.crmJobId = data.id;
            });
          } else if (response.status === 401) {
            // unauthorized, ask to login  again
            this.$router.push('/logout');
            this.sendingCheck = false;
          } else if (response.status === 403) {
            // forbidden, no permissions or wrong password
            this.sendingCheck = false;
            this.error = ['Keine Berechtigung oder falsches Passwort'];
          } else if (response.status === 400) {
            this.sendingCheck = false;
            response
              .json()
              .then((data) => {
                this.error = data;
              })
              .catch((error) => {
                console.log(error);
                this.$emit('unexpectedError');
              });
          } else {
            this.sendingCheck = false;
            this.$emit('unexpectedError');
          }
        })
        .catch((error) => {
          console.log(error);
          this.sendingCheck = false;
          this.$emit('networkError');
        });
    },
    processJobCompleted: function (result) {
      if (api.job.isErrorResult(result)) {
        this.createSuccess = false;
        this.checkSuccess = false;
        this.deleteSuccess = false;
        this.sendingCheck = false;
        this.sendingCreate = false;
        this.sendingDelete = false;
        this.error = errorList;
        this.createCrmPossible = false;
      } else {
        if (result.status == 'OK') {
          this.createSuccess = this.sendingCreate;
          this.checkSuccess = this.sendingCheck;
          this.deleteSuccess = this.sendingDelete;
          this.createCrmPossible = this.checkSuccess;
          this.error = null;
        } else {
          this.createSuccess = false;
          this.checkSuccess = false;
          this.deleteSuccess = false;
          this.error = result.errorMessages;
        }
        this.sendingCheck = false;
        this.sendingCreate = false;
        this.sendingDelete = false;
      }
    },
    doCreateCrm: function () {
      if (this.$refs.form.validate()) {
        this.$emit('clearError');
        this.sendingCreate = true;
        this.createSuccess = false;
        this.checkSuccess = false;

        fetch(util.CONFIG.API_BASE_URL + '/v1/bindings/iog/chapter/crm-update-rules', {
          method: 'POST',
          credentials: 'include',
          body: JSON.stringify(true),
        })
          .then((response) => {
            if (response.status === 201) {
              response.json().then((data) => {
                this.crmJobId = data.id;
              });
            } else if (response.status === 401) {
              // unauthorized, ask to login  again
              this.$router.push('/logout');
              this.sendingCreate = false;
            } else if (response.status === 403) {
              // forbidden, no permissions or wrong password
              this.sendingCreate = false;
              this.error = ['Keine Berechtigung oder falsches Passwort'];
            } else if (response.status === 400) {
              this.sendingCreate = false;
              response
                .json()
                .then((data) => {
                  this.error = data;
                })
                .catch((error) => {
                  console.log(error);
                  this.$emit('unexpectedError');
                });
            } else {
              this.sendingCreate = false;
              this.$emit('unexpectedError');
            }
          })
          .catch((error) => {
            console.log(error);
            this.sendingCreate = false;
            this.$emit('networkError');
          });
      }
    },
  },
  beforeUnmount() {
    this.$emit('clearError');
  },
};
</script>

<style scoped></style>
